<form #resetPasswordForm=ngForm (ngSubmit)="onSubmit()">
    <!-- <div class="alert alert-danger" [hidden] = "!error">{{ error }}</div> -->
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" [(ngModel)]="form.email" class="form-control" required>
      <span class="text-danger" [hidden] = "error['email']">{{ error['email'] }}</span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="form.password" class="form-control" required>
      <span class="text-danger" [hidden] = "error['password']">{{ error['password'] }}</span>
    </div>
    <div class="form-group">
      <label for="confirm_password">Confirm Password</label>
      <input type="password" name="confirm_password" [(ngModel)]="form.confirm_password" class="form-control" required>
      <span class="text-danger" [hidden] = "error['confirm_password']">{{ error['confirm_password'] }}</span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled] = "!resetPasswordForm.valid">Change Password</button>
  </form>